@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Light.ttf');
	font-weight: normal;
}

* {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat';
}

input {
	font: inherit;
}

.bookmark-main {
	display: flex;
	flex-direction: column;
	height: 360px;
	overflow-y: scroll;
}

.bookmark-list {
	list-style: none;
	margin: 0;
	padding: 20px;
	width: 240px;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.bookmark-item {
	display: flex;
	flex-direction: column;
	border: 1px solid #323031;
	user-select: none;
	-moz-user-select: none;
	animation: 0.2s ease fadein;
}

.bookmark-item .main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	height: 45px;
}

.bookmark-item .title input {
	padding: 0;
	margin: 0;
	border: 0;
	display: inline;
	width: 100%;
}

.bookmark-item a {
	cursor: inherit;
}

.bookmark-item.editing .main {
	cursor: default;
}

.bookmark-item .hidden {
	display: flex;
	flex-direction: column;
}

.bookmark-item .options {
	display: flex;
	justify-content: space-between;
	border-top: 0px solid transparent;
	height: 0;
	opacity: 0;
	transition: border 0s ease 0.2s, height 0.2s ease, opacity 0.1s ease;
}

.bookmark-item .options > * {
	cursor: pointer;
}

.bookmark-item .options > :not(:first-child) {
	border-left: 1px solid #323031;
}

.bookmark-item .folder-btn {
	width: calc(100% - 3 * 45px / 1.618);
	display: flex;
	align-items: center;
}

.bookmark-item .folder-btn .selection {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: calc(100% - 45px / 1.618);
	font-size: 12px;
}

.bookmark-item .folder-btn .selection img {
	transition: transform 0.1s ease;
}

.bookmark-item.folder-select .folder-btn .selection img {
	transform: rotate(180deg);
}

.bookmark-item .folder-btn .text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bookmark-item .icon {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: calc(45px / 1.618);
}

.bookmark-item .icon img {
	width: 16px;
	pointer-events: none;
}

.bookmark-item.editing .options {
	border-top: 1px solid #323031;
	height: calc(45px / 1.618);
	opacity: 1;
	transition: height 0.2s ease, opacity 0.2s ease;
}

.bookmark-item .folder-list {
	display: flex;
	flex-direction: column;
	font-size: 12px;
}

.bookmark-item:not(.folder-select) .folder-list {
	pointer-events: none;
}

.bookmark-item .folder-list > * {
	display: flex;
	align-items: center;
	height: 0;
	opacity: 0;
	border-top: 0px solid transparent;
	transition: height 0.1s ease, opacity 0.1s ease, border 0s ease 0.1s;
	color: black;
	background-color: white;
}

.bookmark-item .folder-list > :not(:last-child) {
	padding-right: 10px;
	padding-left: 10px;
}

.bookmark-item .folder-list .text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bookmark-item.folder-select .folder-list > * {
	height: calc(45px / 1.618);
	opacity: 1;
	border-top: 1px solid #323031;
	transition: height 0.1s ease, opacity 0.1s ease, color 0.1s ease, background-color 0.1s ease;
}

.bookmark-item .folder-list > :not(:last-child).selected, .bookmark-item .folder-list > :not(:last-child):hover {
	color: white;
	background-color: #323031;
}

.bookmark-item .folder-add {
	display: flex;
}

.bookmark-item .folder-add input {
	padding: 0;
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;
	border: 0;
	display: inline;
	height: 100%;
	width: calc(100% - 45px / 1.618);
}

.bookmark-item .folder-add .add-btn {
	cursor: pointer;
}

.bookmark-item:not(:first-child) {
	margin-top: 10px;
}

.bookmark-item .details {
	padding: 10px;
	width: 100%;
	transition: width 0.2s ease;
	text-decoration: none;
	color: inherit;
	outline: 0;
}

.bookmark-item:not(.editing):hover .details {
	width: calc(100% - 45px);
}

.bookmark-item .details > * {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bookmark-item .title {
	font-size: 14px;
	margin-bottom: 2px;
}

.bookmark-item .url {
	font-size: 10px;
}

.bookmark-item .edit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 0;
	border-left: 1px solid transparent;
	transition: border 0s ease 0.2s, width 0.2s ease;
}

.bookmark-item:not(.editing):hover .edit-btn {
	width: 45px;
	border-left: 1px solid #323031;
	transition: width 0.2s ease;
}

.bookmark-item .edit-btn img {
	width: 16px;
	opacity: 0;
	transition: opacity 0.1s ease;
}

.bookmark-item:not(.editing):hover .edit-btn img {
	pointer-events: none;
	opacity: 1;
}

.main-btn {
	display: flex;
	height: 30px;
	width: 30px;
	background-color: #323031;
	position: fixed;
	bottom: 20px;
	border: 1px solid #323031;
	transition: background-color 0.2s ease;
}

.main-btn.left {
	left: calc(240px - 30px - 20px - 30px - 10px); /* right: 20px + (add-btn width + margin) + scrollbar width */
}

.main-btn.right {
	left: calc(240px - 30px - 20px); /* right: 20px + scrollbar width */
}

.main-btn img {
	pointer-events: none;
	width: 16px;
	opacity: 0;
	filter: invert(100%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.1s ease, filter 0.1s ease;
}

.main-btn.show-all img.show-all {
	opacity: 1;
	transition: opacity 0.1s ease 0.1s;
}

.main-btn.search:not(.active) img.search {
	opacity: 1;
	transition: opacity 0.1s ease 0.1s;
}

.main-btn.add img.add {
	opacity: 1;
	transition: opacity 0.1s ease 0.1s;
}

.main-btn.back img.back {
	opacity: 1;
	transition: opacity 0.1s ease 0.1s;
}

.main-btn.cancel img.cancel {
	opacity: 1;
	transition: opacity 0.1s ease 0.1s;
}

.main-btn input {
	display: none;
	border: 0;
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 12px;
}

.main-btn.search {
	transition: background-color 0.2s ease, left 0.1s ease, width 0.1s ease;
}

.main-btn.search.active {
	left: 20px;
	width: calc(240px - 30px - 20px - 30px - 10px - 20px + 30px); /* old left position - new left position + width */
	background-color: white;
	transition: left 0.1s ease 0.1s, width 0.1s ease 0.1s;
}

.main-btn.search.active input {
	display: initial;
}

.main-btn:hover {
	cursor: pointer;
	background-color: white;
}

.main-btn:hover img {
	filter: none;
}
