@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Light.ttf');
	font-weight: lighter;
}

* {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat';
}

.bookmark-main {
	display: flex;
	flex-direction: column;
	height: 360px;
	overflow-y: scroll;
	user-select: none;
	-moz-user-select: none;
}

.bookmark-list {
	list-style: none;
	margin: 0;
	padding: 20px;
	width: 240px;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.bookmark-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 45px;
	border: 1px solid #323031;
	cursor: pointer;
	animation: 0.2s ease fadein;
}

.bookmark-item:not(:first-child) {
	margin-top: 10px;
}

.bookmark-item .details {
	padding: 10px;
	width: 100%;
	transition: width 0.2s ease;
	text-decoration: none;
	color: inherit;
	outline: 0;
}

.bookmark-item:hover .details {
	width: calc(100% - 45px);
}

.bookmark-item .details > * {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bookmark-item .title {
	font-size: 14px;
	margin-bottom: 2px;
}

.bookmark-item .url {
	font-size: 10px;
}

.bookmark-item .remove-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 0;
	border-left: 1px solid transparent;
	transition: border 0s ease 0.2s, width 0.2s ease;
}

.bookmark-item:hover .remove-btn {
	width: 45px;
	border-left: 1px solid #323031;
	transition: width 0.2s ease;
}

.bookmark-item .remove-btn object {
	width: 16px;
	opacity: 0;
	transition: opacity 0.1s ease;
}

.bookmark-item:hover .remove-btn object {
	pointer-events: none;
	opacity: 1;
}

.filter-btn, .add-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	background-color: #323031;
	position: fixed;
	bottom: 20px;
	border: 1px solid #323031;
	transition: background-color 0.2s ease;
}

.filter-btn {
	left: calc(240px - 30px - 20px - 30px - 10px); /* right: 20px + (add-btn width + margin) + scrollbar width */
}

.add-btn {
	left: calc(240px - 30px - 20px); /* right: 20px + scrollbar width */
}

.filter-btn:hover, .add-btn:hover {
	cursor: pointer;
}

.filter-btn object, .add-btn object {
	pointer-events: none;
	width: 16px;
	transition: filter 0.2s ease;
}

.filter-btn.active, .add-btn {
	background-color: #323031;
}

.filter-btn, .add-btn:hover {
	background-color: white;
}

.filter-btn.active object, .add-btn object {
	filter: invert(100%);
}

.filter-btn object, .add-btn:hover object {
	filter: none;
}
